<h2>Users</h2>


<div class="list-group">
  <div class="list-group-item" *ngFor="let user of users">
    <div class="media">
      <img [src]=" 'assets/' + user.photo" alt="" width="100" class="img-thumbnail">
      <div class="media-body p2">
        <h5> {{user.name}}</h5>
      </div>
    </div>
  </div>
</div>