#viewport {
  width: 100%;
  height: 500px;
  margin: 10px auto 0;
  position: relative; }
  #viewport .stack {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    border-radius: 10px; }
  #viewport li {
    width: 300px;
    height: 400px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 300px;
    text-align: center;
    font-size: 20px;
    border: 10px solid #ECECEC;
    box-sizing: border-box;
    cursor: default; 
    overflow: hidden;
    }
    #viewport li img {
      pointer-events: none;
    }
    #viewport li.in-deck:nth-child(3) {
      top: 2px;
      transform: translate(2px, 2px) rotate(0.4deg); }
    #viewport li.in-deck:nth-child(2) {
      top: 4px;
      transform: translate(-4px, -2px) rotate(-1deg); }
  #viewport #control {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0; }
    #viewport #control button {
      background: #FFFFFF;
      color: #373737;
      font-weight: bold;
      border: none;
      font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
      margin: 0 5px;
      padding: 10px 15px;
      cursor: pointer;
      box-shadow: 0 2px 0 #63211F;
      outline: none;
      position: relative; }
      #viewport #control button:active {
        background: #63211F;
        color: #FFFFFF;
        bottom: -2px;
        box-shadow: none; }