
<div id="viewport">
  <ul class="stack" swing-stack [stackConfig]="stackConfig" (throwout)="onThrowOut($event)">
    <li swing-card *ngFor="let c of cards">
      <img [src]=" 'assets/' + c.photo " width="300" >
      {{ c.name }}
    </li>
  </ul>
</div>